<div class="block-text">
  <h2 class="heading-2">Blok z długą nazwą która sama się przytnie Lorem ipsum dolor sit amet consectetur adipisicing elit. In, mollitia</h2>

  <div class="block-text__content">
    @if (blockStore.sortedSelectedContents$ | async; as contents) {
      @if (contents.length) {
        @for (content of contents; track content.id) {
        <p class="content">{{ content.content }}</p>
        }
      }
      @else {
        <p class="not-found" role="alert">Brak wybranych treści.</p>
      }
    }
  </div>
</div>
