*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--gray-2);
}

input,
textarea,
button {
  font-family: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

