:root {
  --primary-color: #e78301;
  --gray-1: #0b0c10;
  --gray-2: #2a2d36;
  --gray-3: #15161a;
  --gray-4: #303030;
  --gray-5: #292c32;
  --text-color: #fff;
  --text-color-2: #b2b8c6;
  --red-1: #ff2c2c;
  --red-2: #da1a1a;
  --blue-1: #4681f4;
  --blue-2: #266cf8;
}
