<nav class="nav" aria-label="Główna nawigacja">
  <a routerLink="/" class="nav__logo" aria-label="Strona główna">
    <div class="nav__logo-container">
      <div class="html5-logo"></div>
    </div>
  </a>
  <ul class="nav__links" role="menubar">
    <li role="none">
      <a routerLink="/manage" role="menuitem" aria-label="Zarządzaj">Zarządzaj</a>
    </li>
  </ul>
  <div class="nav__right">
    <span class="nav__title">Zadanie <span>rekrutacyjne</span></span>
    @if (blockStore.personalData$ | async; as personalData) {
      <span class="nav__personal-data" aria-live="polite">{{ personalData }}</span>
    }
  </div>
</nav>
