:host {
  width: 100%;

  @media screen and (width >= 440px) {
    grid-column: -1 / 1;
  }

  @media screen and (width >= 960px) {
    grid-column: initial;
  }
}

.block-content {
  > .heading-2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__container {
    p {
      word-break: break-word;
      text-align: center;
      color: var(--text-color-2);
    }
  }
}
